venv/
dist/
build/
__pycache__
*.egg-info
react_build
node_modules/
package-lock.json
swreactxblock/public/.*.swp
swreactxblock/static/js/.*.swp
swreactxblock/__init__.pyc
swreactxblock/swreactxblock.pyc
swreactxblock/static/html/swreactxstudent-*.html
swreactxblock/static/html/swreactxstudent.html-*
swreactxblock/public/head
swreactxblock/public/index-expanded.html
swreactxblock/public/index.html-orig
swreactxblock/public/index.html-save
swreactxblock/public-old/
swreactxblock/static/js/src/swreactxstudent.js-all
swreactxblock/static/js/src/swreactxstudent.js-fake
swreactxblock/public/assets/app.css.bak
swreactxblock/public/assets/app.js.bak
public-*-backup.tar.gz
public/
*.tar.gz
*.tar
*.gz
*.zip
.DS_Store
*.pyc
*.pyo
*.swp
*.swo
*.log
*.log.*
*.log-*
*.log/*
*.out
