[MASTER]
init-hook='import sys; print(sys.executable); print(sys.path)'
ignore-paths=venv,node_modules,public
ignore=version.py

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=W0511,W0612,R0904,C0116,W0613,R0902,R0914,W1202,C0209,C0301,R1716,C0302,R0912,R0915
